.inputContainer::after {
  content: "";
  height: 2px;
  width: 0;
  display: block;
  background-color: rgb(252 211 77);
  transition: width 0.1s linear;
}

.inputContainer:focus-within::after {
  width: 100%;
}

.inputContainer input {
  @apply px-2 text-primary-400 w-full h-full bg-inherit focus:outline-none focus:border-b-0 border-secondary-400;
}

.inputContainer input::placeholder {
  opacity: 0.5;
}
