.textarea::after {
  content: "";
  height: 2px;
  width: 0;
  display: block;
  background-color: rgb(252 211 77);
  transition: width 0.1s linear;
}

.textarea:focus-within::after {
  width: 100%;
}
.textarea textarea {
  @apply text-primary-400;
}

.textarea textarea::placeholder {
  opacity: 0.5;
}
